h1{
  
  text-align-last: center;
  
}
div{
background-color: beige;
border: 0px solid ;
}

h2{
    color: red; 
    font-style: italic; 
    
}
ul{
    font-style: italic;
    
}
ol{
    font-style: italic;
    
}